@mixin maxWidth {
    max-width: 43.75rem;
}

.description {
    @include maxWidth();
}

.mailIconGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include maxWidth();

    .social-icons {
        height: 38px;
        display: flex;
        align-items: center;

        a {
            font-size: 1.1rem;
            background: $primary;
            color: #fff;
            margin-right: 8px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            >svg {
                position: relative;
                top: 0.0625rem;
            }
        }
    }
}