section#work {
    @import "galleryScss";

    .workCategories {
        .categoryGroup {
            .category {
                &.active {
                    .portfolioGallery {
                        @include scrollBar();
                        width: calc(100% - 1.875rem);
                        transition-timing-function: ease-in-out;
                        transition-duration: 0.4s;
                        overflow-y: auto;
                        height: 100%;
                    }
                }

                .portfolioGallery {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0;
                    transition-timing-function: ease-in-out;
                    transition-duration: 0.4s;
                }
            }
        }
    }

}