section#work {
    .workCategories {
        .categoryGroup {
            .category {
                &.active {
                    .portfolioGallery {
                        @include scrollBar();
                        width: calc(100% - 1.875rem);
                        transition-timing-function: ease-in-out;
                        transition-duration: 0.4s;
                        overflow-y: auto;
                        height: 100%;
                    }
                }

                .portfolioGallery {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0;
                    transition-timing-function: ease-in-out;
                    transition-duration: 0.4s;

                    .galleryCard {
                        display: flex;
                        float: left;
                        width: calc(25% - 8px);
                        height: 260px;
                        overflow: hidden;
                        justify-content: center;
                        cursor: pointer;
                        margin: 0 8px 8px 0;

                        img {
                            height: 100%;
                            width: auto;
                            transition-timing-function: ease-in-out;
                            transition-duration: 0.4s;
                        }

                        &:hover {
                            img {
                                height: calc(100% + 2.25rem);
                                transition-timing-function: ease-in-out;
                                transition-duration: 0.6s;
                            }
                        }
                    }
                }
            }
        }
    }
}