.navGroup {
    float: right;
    position: absolute;
    right: 30px;
    top: 40px;
    z-index: 999;
    display: flex;
    justify-content: center;

    >a {
        visibility: hidden;
        font-size: 1.8rem;
        z-index: 999;

        @media (max-width: $layout-breakpoint-small) {
            visibility: visible;
        }
    }

    nav#sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 17rem;
        height: 100vh;
        background-color: #bd5d38;
        z-index: 9;

        @media (max-width: $layout-breakpoint-small) {
            width: 100%;
            display: none;
            z-index: 99;
        }

        .navbar-brand {
            display: flex;
            padding: 0.5rem;
        }

        ul {
            flex-direction: column;

            li {
                display: block;

                &>a {
                    padding: 0.375rem 0.5rem;
                    font-weight: 800;
                    letter-spacing: 0.05rem;
                    text-transform: uppercase;

                    @media (max-width: $layout-breakpoint-small) {
                        display: block;
                        position: relative;
                        z-index: 999;
                    }
                }
            }
        }

        a.picture {
            .img-profile {
                max-width: 10rem;
                max-height: 10rem;
                border-radius: 50%;
            }
        }
    }

    &.show {
        @media (max-width: $layout-breakpoint-small) {
            nav#sideNav {
                display: flex;
            }
        }
    }
}

// variables
$layout-breakpoint-small: 600px;