* {
    font-size: 16px;
}

// color
$primary : #bd5d38;

body {
    margin: 0;
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;

    @mixin scrollBar {
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.08);
            background-color: #f7f7f7;
            border-radius: 0;
        }

        &::-webkit-scrollbar {
            width: 0.5rem;
            background-color: #f8f8f8;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0;
            background-image: -webkit-gradient(linear,
                    left bottom,
                    left top,
                    color-stop(0.44, rgba($primary, 100%)),
                    color-stop(0.86, rgba($primary, 100%)));
        }
    }

    @mixin fullHeightSection {
        float: right;
        width: calc(100% - 17rem);
        padding: 0 60px;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0.5rem;
        font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 700;
        line-height: 1.2;
        color: #343a40;
        text-transform: uppercase;
    }

    h1,
    h1 span {
        font-size: 6rem;
    }

    h2,
    h2 span {
        font-size: 3.5rem;
    }

    h2 {
        &.iAm {
            font-size: 3rem !important;
            font-weight: 700 !important;
            margin: 0 0 3.125rem 0;

            span {
                margin: 0 0 0 0.25rem;
                font-size: 3rem !important;
                font-weight: 700 !important;
                display: inline-block;
                line-height: 1;

                span.wrap {
                    margin: 0;
                    padding-right: 0.3125rem;
                    color: $primary;
                }
            }
        }
    }

    h3,
    h3 span {
        font-size: 2rem;
    }

    .subheading,
    .subheading span,
    .subheading a {
        font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.5rem;
    }

    p,
    li {
        font-size: 1rem;
        font-weight: 300;
        color: #212529;
    }

    a {
        color: $primary;
    }

    @import "sidenav";

    section {
        @include fullHeightSection();

        .resume-section-content {
            width: 100%;
        }
    }

    @import "about";
    @import "anime";
    @import "work";

    &.overflow {
        overflow: hidden;
    }
}

// responsiveness
// variables
$layout-breakpoint-small: 600px;

// media queries
@media (max-width: $layout-breakpoint-small) {
    * {
        font-size: 14px;

        body {
            section {
                width: 100%;
                padding: 0 1.5rem;
            }

            h2.iAm span {
                &.iAmA {
                    display: block;
                    margin-bottom: -0.125rem;
                }

                &.txt-rotate {
                    min-height: 4.1875rem;
                    position: relative;
                    display: inline-block;
                    width: 100%;

                    .wrap {
                        font-size: 4.1rem !important;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        border: none !important;
                    }
                }
            }

            .mailIconGroup {
                flex-direction: column;
                align-items: flex-start;

                .social-icons {
                    margin-bottom: 1.125rem;
                }
            }
        }
    }
}