section#work {
    background: #16181f;

    h2 {
        color: #ffffff;
    }

    .workCategories {
        .categoryGroup {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            overflow: hidden;
            height: 25rem;
            position: relative;

            @media (max-width: $layout-breakpoint-small) {
                height: 68vh;
            }

            .category {
                min-width: 33%;
                border-right: 10px solid transparent;
                overflow: hidden;
                display: inline-block;
                cursor: pointer;
                transition-timing-function: ease-in-out;
                transition-duration: 0.5s;
                height: 100%;

                @media (max-width: $layout-breakpoint-small) {
                    overflow: initial;
                    min-width: initial;
                    white-space: pre;
                    display: flex;
                    align-items: flex-start;
                    height: initial;
                }

                &.minWidth {
                    transition-timing-function: ease-in-out;
                    transition-duration: 0.5s;
                    min-width: 0%;
                    transition-delay: 0.2s;
                }

                span {
                    &.title {
                        @include labelTag();

                        @media (max-width: $layout-breakpoint-small) {
                            display: none;
                        }
                    }
                }

                a {
                    text-decoration: none !important;

                    &.title {
                        display: none;

                        @media (max-width: $layout-breakpoint-small) {
                            display: inline-block;
                            bottom: initial;
                            left: 0;
                            transform: none;
                            top: 0;
                            text-align: center;
                            font-size: 1rem;
                            background: #3c2a2a;
                            color: #bd5d38;
                            font-weight: 500;
                            height: fit-content;
                            padding: 4px 16px 6px 16px;
                            border-radius: 30px;
                        }
                    }
                }

                .categoryImage {
                    position: relative;
                    overflow: hidden;
                    transition-timing-function: ease-in-out;
                    transition-duration: 0.4s;
                    z-index: 2;
                    width: 100%;
                    height: 100%;

                    @media (max-width: $layout-breakpoint-small) {
                        width: initial;
                        overflow: initial;
                        display: inherit;
                        height: initial;
                    }

                    span.close {
                        position: absolute;
                        font-size: 2.125rem;
                        color: rgba(255, 255, 255, 0.7);
                        z-index: 9;
                        left: 50%;
                        top: -100%;
                        transform: translate(-50%, calc(-50% + 130px));
                        transition-timing-function: ease-in-out;
                        transition-duration: 0.25s;

                        @media (max-width: $layout-breakpoint-small) {
                            display: none;
                        }

                        &:hover {
                            svg {
                                color: #fff;
                                transition-timing-function: ease-in-out;
                                transition-duration: 0.3s;
                                transform: rotate(180deg);
                            }
                        }
                    }

                    figure {
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;

                        @media (max-width: $layout-breakpoint-small) {
                            display: none;
                        }
                    }
                }

                .instagram_feed {
                    position: absolute;
                    right: 0;
                    top: -101%;
                    z-index: 0;
                    width: 76%;
                    transition-timing-function: ease-in-out;
                    transition-duration: 0.4s;
                    overflow-y: auto;
                    height: 100%;
                    @include scrollBar();

                    @media (max-width: $layout-breakpoint-small) {
                        top: 5.2rem;
                        right: 125%;
                        width: 100%;
                    }

                    .instagram_gallery {
                        float: right;
                        width: calc(100% - 8px);
                        cursor: initial;

                        @media (max-width: $layout-breakpoint-small) {
                            width: 100%;
                        }

                        a {
                            >img {
                                margin-left: 0 !important;
                                margin-top: 0 !important;
                                width: calc(24% - 0px) !important;
                                height: auto;

                                @media (max-width: $layout-breakpoint-small) {
                                    background: rgba($color: $primary, $alpha: 1.0);
                                    width: calc(50% - 5px) !important;
                                }
                            }
                        }
                    }
                }

                &.active {
                    transition-timing-function: ease-in-out;
                    transition-duration: 0.5s;
                    min-width: 100%;
                    transition-delay: 0.2s;

                    @media (max-width: $layout-breakpoint-small) {
                        min-width: initial;
                    }

                    .instagram_feed {
                        transition-timing-function: ease-in-out;
                        transition-duration: 0.4s;
                        top: 0%;

                        @media (max-width: $layout-breakpoint-small) {
                            top: 5.2rem;
                            right: 0%;
                            width: 100%;
                        }
                    }

                    .categoryImage {
                        position: relative;
                        overflow: hidden;
                        transition-timing-function: ease-in-out;
                        transition-duration: 0.4s;
                        width: 24%;

                        @media (max-width: $layout-breakpoint-small) {
                            width: 100%;
                        }

                        span.close {
                            top: 45%;
                            transition-timing-function: ease-in-out;
                            transition-duration: 0.4s;
                        }
                    }

                    figure {
                        cursor: initial;

                        &:after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: rgba($color: $primary, $alpha: 0.85);
                        }
                    }

                    a {
                        &.title {
                            background: rgba($color: $primary, $alpha: 1.0);
                            color: #ffffff;
                        }
                    }
                }

                &.mobileActive {
                    .instagram_feed {
                        @media (max-width: $layout-breakpoint-small) {
                            top: 5.2rem;
                            right: 0%;
                            width: 100%;
                        }
                    }

                    @media (max-width: $layout-breakpoint-small) {
                        a {
                            &.title {
                                background: rgba($color: $primary, $alpha: 1.0);
                                color: #ffffff;
                            }
                        }
                    }

                }
            }
        }
    }
}