section#work {
    position: relative;

    .workCategories {
        .categoryGroup {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            overflow: hidden;
            height: 25rem;

            @media (max-width: $layout-breakpoint-small) {
                flex-direction: column;
                height: auto;
            }

            .category {
                overflow: hidden;
                position: unset;
                @include transition(0.4s, 0s);
                height: 100%;

                @media (max-width: $layout-breakpoint-small) {
                    min-width: 100%;
                }

                span.title {
                    position: absolute;
                    font-size: 0.875rem;
                    color: #fff;
                    background: #bd5d38a3;
                    padding: 0.25rem 1rem 0.375rem 1rem;
                    border-radius: 2.5rem;
                    text-transform: uppercase;
                    bottom: 10%;
                    left: 50%;
                    z-index: 1;
                    transform: translate(-50%, calc(-50% + 2.5rem));
                    transition-timing-function: ease-in-out;
                    transition-duration: 0.4s;
                    cursor: initial;
                }

                .categoryImage {
                    position: unset;
                    overflow: hidden;
                    @include transition(0.4s, 0);
                    z-index: 2;
                    width: 100%;
                    height: 100%;

                    figure {
                        width: 100%;
                        height: 100%;
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;

                        img {
                            width: auto;
                            height: 100%;
                            cursor: pointer;

                            @media (max-width: $layout-breakpoint-small) {
                                width: 100%;
                            }
                        }
                    }
                }

                .portfolioGallery {
                    position: absolute;
                    right: -110%;
                    height: 100%;
                    top: 0;
                    width: 100%;
                    z-index: 9;
                    opacity: 0;
                    overflow-y: auto;
                    @include transition(0.3s, 0);
                    background-color: #fff;

                    >ul.album {
                        display: block;
                        margin: 0 auto;
                        padding: 6px 0 0 0;
                        position: relative;

                        li {
                            width: 200px;
                            height: 200px;
                            display: inline-block;
                            background-size: contain;

                            &.showHtml{
                                position: absolute;
                                width: 100% !important;
                                height: 100% !important;
                                right: 0;
                                top: 0;
                                background-image: none !important;
                            }
                            &.hide{
                                opacity: 0;
                            }
                        }
                    }
                }

                &.hide {
                    .categoryImage {
                        opacity: 0;
                        @include transition(0.4s, 0.1s);
                    }
                    .portfolioGallery {
                        display: none;
                    }
                }

                &.active {
                    .categoryImage {
                        opacity: 0;
                    }

                    .portfolioGallery {
                        opacity: 100%;
                        right: 0;
                        @include transition(0.3s, 0s);
                    }
                }

            }

        }
    }

    &.expand {
        width: calc(100% - 3rem);
    }
}